<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title style="color: aliceblue;">Car wash</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>
<body style="background: rgb(247, 244, 244)">
    <div style= "color: rgb(132, 182, 226); text-align:center">
        <h1>Main Menu</h1>
    </div>
    <div>
        <nav class="vertical-menu">
            <ul style="color:aliceblue; font-weight:100">
                <button style="background-color: rgba(224, 130, 130, 0.157)"><a href="http://127.0.0.1:5000/workers">Workers</a> </button>
            </ul>
        </nav>
    </div>

</body>
</html>