<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body style="background: rgb(247, 244, 244)">
    <div style= "color: rgb(132, 182, 226); text-align:center">
        <h1>Main Menu</h1>
    </div>
    <div class="grid-container">
        <div> <button class="block"><a href="http://127.0.0.1:5000/workers">Worker</a> </button></div>
        <div> <button class="block"> Client</button> </div>
        <div> <button class="block"> Scheduler</button> </div>
        <div> <button class="block"> Report</button> </div>
        <div> <button class="block"> Other</button> </div>
    </div>
</body>
</html>
